:root {
  --background: #2a2438;
  --primary: #dbd8e3;
  --secondary: #5c5470;
  --tertiary: #352f44;
  --selected: #453c67;
  --font-primary: "Lato", sans-serif;
  --font-secondary: "Merriweather Sans", sans-serif;
  --box-outer: 2px 2px 5px rgba(0, 0, 0, 0.5);
  --box-inner: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
}

body {
  background-color: var(--background);
  color: var(--primary);
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
}

button {
  font-family: var(--font-primary);
  border-radius: 6px;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 8px;
  width: 90px;
}

.app-layout {
  display: grid;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
}

.nav-selected {
  background-color: var(--selected);
}

.nav-container {
  display: flex;
  background-color: var(--tertiary);
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-outer);
  //   padding: 2px;

  .nav-list {
    display: flex;
    list-style: none;

    &-item {
      margin: 0 14px;
      font-size: 1.4rem;
      padding: 5px;
      border-radius: 6px;
    }
  }

  .nav-interaction {
    display: flex;
    margin: 0 30px;

    .nav-button {
      margin: 0 5px;
    }
  }
}

.banner-container {
  display: flex;
  justify-content: center;
  padding: 10px;

  .banner-img {
    width: 400px;
  }
}

.main-page {
  background-color: var(--tertiary);
  // display: flex;
  // justify-items: center;
  // align-items: center;
  box-shadow: var(--box-outer);
  padding: 20px;

  &-left {
    padding: 15px;
    box-shadow: var(--box-inner);
    background-color: var(--background);
    border-radius: 6px;
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    height: calc(100% - 40px);
  }

  &-right {
    height: 400px;
    width: 400px;
  }
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  padding: 10px;
  width: 20%;
  box-shadow: var(--box-outer);
  border: 1px solid var(--secondary);
  border-radius: 7px;

  .login-form {
    display: flex;
    flex-direction: column;

    label {
      font-size: 1.1rem;
    }

    .login-pass-label {
      margin-top: 15px;
    }

    input {
      border-radius: 6px;
      height: 30px;
      width: 250px;
    }

    button {
      margin: 25px 15px;
    }
  }
}

.home-page {
  display: flex;
  height: 100vh;

  .friend-panel {
    width: 14%;
    background-color: var(--tertiary);
    font-family: var(--font-secondary);
    font-size: smaller;
    display: flex;
    flex-direction: column;

    &-header {
      background-color: var(--background);
      padding: 10px;
      height: 60px;
      display: flex;
      align-items: center;
      border: 1px solid black;
      display: flex;
      justify-content: space-between;

      &-notifications {
        height: 40px;
        width: 40px;
        border-radius: 4px;
        background-color: var(--tertiary);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        box-shadow: var(--box-outer);

        &-status {
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background-color: red;
        }
      }
    }

    &-list {
      overflow: scroll;
      scrollbar-width: none;
      padding: 5px;
      margin: 0;
      flex: 1;
    }

    .settings-bar {
      height: 60px;
      padding: 10px;
      background-color: var(--background);
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid black;

      &-icon {
        height: 35px;
        width: 35px;
        background-color: var(--secondary);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          border-radius: 50%;
          height: 25px;
          width: 25px;
          background-color: var(--background);
        }
      }
    }
  }

  .main-sect {
    display: flex;
    flex-direction: column;
    flex: 1;

    .welcome-nav {
      height: 60px;
      background-color: var(--tertiary);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border: 1px solid black;

      &-separation {
        display: flex;
        align-items: center;
        &-search {
          margin: 0 30px;

          &-bar {
            height: 30px;
            border-radius: 6px;
            margin: 0 15px;
            width: 200px;
          }

          &-button {
            height: 35px;
            width: 70px;
          }
        }
      }
    }

    .chat-window {
      flex: 1;
      z-index: 0;
      box-shadow: var(--box-inner);
      background-color: var(--tertiary);
      margin: 10px;
      border-radius: 6px;
      overflow: scroll;
      scrollbar-width: none;

      ul {
        padding: 0;
      }

      .message-bubble {
        border-radius: 8px;
        margin: 20px;
        padding: 1px;
        background-color: var(--background);
        list-style: none;
        font-family: var(--font-secondary);

        &-header {
          display: flex;
          align-items: center;
          background-color: var(--secondary);
          margin: 0;
          padding: 0;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;

          h2 {
            margin: 5px;
          }

          h5 {
            margin: 5px;
          }
        }

        p {
          margin: 10px;
        }
      }
    }

    .chat-bar {
      height: 60px;
      background-color: var(--secondary);
      justify-self: flex-end;
      display: flex;
      align-items: center;
      border: 1px solid black;

      &-form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
      }

      input {
        border-radius: 25px;
        width: 90%;
      }
    }
  }
}

.friend-panel-header-notifications:hover {
  box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.4);
}

.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  .loading-bar {
    width: 100px;
    height: 100px;
    background-color: var(--tertiary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    // align-items: center;

    &-inner {
      width: 50px;
      height: 50px;
      background-color: var(--secondary);
      border-radius: 50%;
      animation: spin 2s infinite linear;
      transform-origin: 50% 100%;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.friend-item {
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  font-family: var(--font-secondary);

  &-image {
    height: 40px;
    width: 40px;
    background-color: var(--secondary);
    border-radius: 50%;
    margin: 5px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.friend-item {
  &:hover {
    background-color: var(--secondary);
    border-radius: 6px;

    .friend-item-image {
      background-color: var(--tertiary);
    }
  }
}

.searched {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px;
  margin: 10px;
  width: 400px;
  background-color: var(--tertiary);
  border-radius: 3px;

  button {
    width: 120px;
  }
}

.notifications-main {
  padding: 50px;

  .notifications-bar {
    display: flex;
    justify-content: space-between;

    &-close {
      color: var(--secondary);
      font-size: 1.5rem;
    }
  }

  h1 {
    margin: 5px;
    font-weight: 300;
  }

  hr {
    border: 0px;
    border-top: 1px solid var(--secondary);
  }

  &-headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;

    &-heading {
      font-family: var(--font-secondary);
      font-weight: 100;
      color: var(--secondary);
    }

    .notifications-dropdown-button {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      border: 0;
      box-shadow: var(--box-outer);
      font-size: 1.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .dropdown {
    border-radius: 6px;
    background-color: var(--tertiary);
    box-shadow: var(--box-inner);
    margin-bottom: 20px;
    height: 0;
    transition: height 1s ease;
    border: 0;
    overflow: scroll;
    scrollbar-width: none;
  }

  .open {
    height: fit-content;
    max-height: 600px;
    overflow: 0;
  }
}

.notifications-bar-close:hover {
  cursor: pointer;
}

.notification-item {
  border-radius: 6px;
  border: 1px solid var(--secondary);
  // box-shadow: var(--box-outer);
  margin: 20px;
  // background-color: var(--secondary);
  list-style: none;
  font-family: var(--font-secondary);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    margin: 5px;
  }
}

.notification-item:hover {
  box-shadow: var(--box-inner);
}

.selected {
  background-color: var(--secondary);
  border-radius: 6px;

  .friend-item-image {
    background-color: var(--tertiary);
  }
}
